* {
    box-sizing: border-box;
}

/* Style the body */

body {
    font-family: Arial;
    margin: 0;
}

/* Header/logo Title */

.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

/* Style the top navigation bar */

.navbar {
    display: flex;
    background-color: #333;
}

/* Style the navigation bar links */

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

/* Change color on hover */

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Column container */

.row {
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */

/* Sidebar/left column */

.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}
.side_social{
    display:flex;
    justify-content: space-between;
}
.side_social div{
    width:30%;
}

/* Main column */

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

/* Fake image, just for this example */

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Footer */

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}
/* Destop Gameming 1920x1080  */
@media screen and (max-width: 1920px) {
    .navbar {
        background-color:#1abc9c;
        color:#fff;
    }
}
/* Destop Square 1600px  */
@media screen and (max-width: 1600px) {
   
}
/* Destop van phong  */
@media screen and (max-width: 1360px) {
    /* .row, .navbar {
        flex-direction: column;
    } */
}
/* Macbook Air Old < 2018  */
@media screen and (max-width: 1280px) {
    /* .row, .navbar {
        flex-direction: column;
    } */
}
/* Ipad wide */
@media screen and (max-width: 1024px) {
    /* .row, .navbar {
        flex-direction: column;
    } */
}
/* Ipad */
@media screen and (max-width: 760px) {
    .navbar {
        background:#333;
    }
}
/* Phone wide */
@media screen and (max-width: 700px) {
    .row, .navbar {
        flex-direction: column;
    }
}
/* Iphone 6plus */
@media screen and (max-width: 414px) {
    .row, .navbar {
        flex-direction: column;
    }
    .side_social{
        flex-direction: column;
    }
    .side_social div{
        width:100%;
    }
}
/* Iphone X */
@media screen and (max-width: 375px) {
    .row, .navbar {
        flex-direction: column;
    }
}
/* Android */
@media screen and (max-width: 360px) {
    .row, .navbar {
        flex-direction: column;
    }
}
/* Iphone5/5s */
@media screen and (max-width: 320px) {
    .row, .navbar {
        flex-direction: column;
    }
}
